<div class="contents-container">
  <% data = @res_data["record"][0] %>
  <h1><%= data["metadata"]["schema:name"][0] %></h1>
  <% if data["metadata"]["schema:gamePlatform"] %>
    <p><%= data["metadata"]["schema:gamePlatform"][0] %></p>
  <% end %>
  <% if data["metadata"]["schema:datePublished"] %>
    <p><%= data["metadata"]["schema:datePublished"][0] %></p>
  <% end %>
  <% if data["metadata"]["schema:publisher"] %>
    <% data["metadata"]["schema:publisher"].each do |publisher| %>
      <p><%= publisher %></p>
    <% end %>
  <% end %>
  <% if data["metadata"]["schema:price"] %>
    <p><%= data["metadata"]["schema:price"][0] %></p>
  <% end %>
  <% if data["metadata"]["ma:accessRights"] %>
    <p><%= data["metadata"]["ma:accessRights"][0] %></p>
  <% end %>
  <% if @current_user %>
    <p><%= link_to("レビューをつける","/post/new/#{@aipId}") %></p>
  <% end %>
  <p><a href="https://www.google.com/search?q=<%= data["metadata"]["schema:name"][0] %>" target="_blank">Googleで検索</a></p>
  <p><a href="/search?keyword=<%= @keyword %>">back</a></p>
</div>
