<div class="search_container">
  <h1>検索結果</h1>
  <% @res_data.each do |data| %>
    <div class="post-container">
      <% aipId = data["aipId"] %>
      <%= link_to("/keyword/#{@keyword}/detail/#{aipId}",class: "post-detail-link") do %>
        <% title = data["metadata"]["schema:name"][0] %>
        <h4><%= title %></h4>
        <% if data["metadata"]["schema:gamePlatform"] %>
          <p><%= data["metadata"]["schema:gamePlatform"][0] %></p>
        <% end %>
        <% if data["metadata"]["schema:datePublished"] %>
          <p><%= data["metadata"]["schema:datePublished"][0] %></p>
        <% end %>
        <% if data["metadata"]["schema:publisher"] %>
          <% data["metadata"]["schema:publisher"].each do |publisher| %>
            <p><%= publisher %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="paginate">
  <%= paginate @res_data %>
</div>