<% @posts.each do |post| %>
  <div class="post-container">
    <%= link_to("/post/#{post.id}/detail",class: "post-detail-link") do %>
      <h3><%= post.title %></h3>
      <p>評価：<%= post.review %>点</p>
      <div id="star-rate<%= post.id %>"></div>
      <script>
        $('#star-rate<%= post.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half      : true,
          readOnly: true,
          score: <%= post.review %>,
        });
      </script>
      <p><%= post.article %></p>
    <% end %>
    <div class="text-right">
      <% user = User.find_by(id: post.userId) %>
      <% if user != nil %>
        <p>投稿者：<%= link_to(user.name,"/user/#{user.id}/detail") %></p>
      <% else %>
        <p>投稿者：名無しの投稿者</p>
      <% end %>
      <p><%= post.created_at.to_s(:datetime_jp) %></p>
      <% if @current_user %>
        <% my_comment = Comment.where(postId: post.id,userId: @current_user.id) %>
        <% if my_comment.length >= 1 %>
          <i class="fas fa-comment my-comment"></i>
        <% else %>
          <i class="fas fa-comment no-comment"></i>
        <% end %>
      <% else %>
        <i class="fas fa-comment no-comment"></i>
      <% end %>
      <% comment_count = Comment.where(postId: post.id).count %>
      <%= comment_count %>
      <div id="likes_buttons_<%= post.id %>">
        <%= render partial: 'users/index',locals: {post: post} %>
      </div>
    </div>
  </div>
<% end %>

<script>
  window.addEventListener('popstate', function(e) {
    window.location.reload();
  });
</script>