<div class="contents-container">
  <h1><%= link_to(@post.title,"/search/post/#{@post.id}/detail/#{@post.aipId}") %></h1>
  <p>評価：<%= @post.review %>点</p>
  <div id="star-rate<%= @post.id %>"></div>
  <script>
    $('#star-rate<%= @post.id%>').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly: true,
      score: <%= @post.review %>,
    });
  </script>
  <p><%= @post.article %></p>
  <div id="post_detail_likes_buttons_<%= @post.id %>">
    <%= render partial: 'posts/detail',locals: {post: @post} %>
  </div>
  <div class="text-right">
    <% user = User.find_by(id: @post.userId) %>
      <% if user != nil %>
        <p>投稿者：<%= link_to(user.name,"/user/#{user.id}/detail") %></p>
      <% else %>
        <p>投稿者：名無しの投稿者</p>
      <% end %>
    <p><%= @post.created_at.to_s(:datetime_jp) %></p>
  </div>
  <div class="comment-container">
  <% if @current_user %>
    <%= form_with model: @comment, url: "/comment/create" do |form| %>
      <%= form.hidden_field :userId,{value: @current_user.id} %>
      <%= form.hidden_field :postId,{value: @post.id} %>
      <%= form.text_field :content, class: "comment-area" %>
      <%= form.submit "コメント", class: "comment-submit" %>
    <% end %>
  <% end %>
  <p><%= link_to "戻る", :back %></p>
</div>
</div>
<div class="comments">
  <h3>コメント</h3>
  <% if @comments.length > 0 %>
    <% @comments.each do |comment| %>
      <div class="comment-post">
        <% user = User.find_by(id: comment.userId) %>
        <p><%= user.name %></p>
        <p><%= comment.content %></p>
        <% if @current_user %>
          <% if @current_user.id == user.id %>
            <p><%= link_to "削除","/post/#{@post.id}/comment/#{comment.id}/delete", method: "post" %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>コメントがまだありません</p>
  <% end %>
</div>

<script>
  window.addEventListener('popstate', function(e) {
    window.location.reload();
  });
</script>