<div id="form">
  <h2 class="form-title">新規投稿</h2>
  <%= form_with(url: "/post/create",model: @post) do |form| %>
    <div class="create-form-container">
        <p>ゲームタイトル：<%= @title %></p>
        <%= form.hidden_field :title,{value: @title} %>
        <%= form.hidden_field :aipId,{value: @aipId} %>
        <div class="form-group row" id="star">
          <p><%= form.label :review,'評価' %></p>
          <%= form.hidden_field :review, id: :review_star %>
        </div>
        <p></p>
        <p class="textarea"><%= form.text_area :article,type:"article",class:"word-counter" %></p>
        <P class="js-text-count"></P>
        <% if @current_user %>
          <%= form.hidden_field :userId,{value: @current_user.id} %>
        <% else %>
          <%= form.hidden_field :userId,{value: "名無しの投稿者"} %>
        <% end %>
        <p class="submit"><%= form.submit "投稿" %></p>
    </div>
  <% end %>
</div>

<script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[review]',
    half: true,
  });
  $(function() {
    var count = $(".word-counter").text().replace(/\n/g,"改行").length;
    var now_count = 140 - count;
    if(count > 140){
      $(".js-text-count").css("color","red");
    }
    if(now_count === 140){
      $(".js-text-count").text("残り140文字")
    } else {
      $(".js-text-count").text("残り" + now_count + "文字")
    }

    $(".word-counter").on("keyup",function(){
      var count = $(this).val().replace(/\n/g,"改行").length;
      var now_count = 140 - count;

      if(count > 140){
        $(".js-text-count").css("color","red")
      } else {
        $(".js-text-count").css("color","black")
      }
      $(".js-text-count").text("残り"+now_count+"文字");
    });
  });
</script>  