<!DOCTYPE html>
<html>
  <head>
    <title>GameListApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>検索</h1>
    <%= form_tag("/search",:method => "get") do %>
      <input type="search" name="keyword" value=<%= @keyword %>>
      <button tyoe="submit">検索</button>
    <% end %>

    <%= yield %>
  </body>
</html>
